#trigger.btn.btn-primary {
    position: absolute;
    top: 50%;
    left: 40%;
}

.modal {
  background-color: #00000073;
  font-family: "Roboto Slab";
}

.modal-header {
  border-bottom: 0;
}

.modal-header button{
  background-color: transparent;
  border: none;
}
.modal-header button .fa-xmark{
  color: whitesmoke;
  font-size: 30px;
}
.modal-content{
  border-radius: 50px!important;
  background: rgb(0, 0, 0);
}

.modal .modal-title{
  margin-left: 24rem;
  font-weight: 600;
  color: whitesmoke;
}

.modal .modal-footer{
  border-top: 0;
}

.modal .btn-close{
 margin: 0.5rem 1.5rem 0.5rem auto;
}

.modal-body{
  padding: 0 0.7rem;
}

.modal-body .row .col-md-3{
  border-bottom-left-radius: 35px;
  border-right: 3px solid #f58122ff;
}

.modal-body .row .col-md-3:nth-last-child(1){
  border-right: 0;
}

.modal-body .row .col-md-3 a {
  border: none;
  margin: 0 6rem 1rem;
  border-radius: 45px;
  padding: 12px 12px;
}

.modal-body .row .col-md-3 a.facebook{
  margin-bottom: 9px;
  margin-left: 5.9rem;
}

.modal-body .row .col-md-3 a.instagram{
  margin-left: 90px;
  margin-top: -5px;
  margin-bottom: 1px;
}

.modal-body .row .col-md-3 a.whatsapp{
    margin-bottom: 0px;
}

.modal-body .row .col-md-3 a.youtube{
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5.8rem;
    padding: 7px;
}

.modal-body .row .col-md-3 .fa-brands {
  font-size: 60px;;
}

.modal-body .row .col-md-3 .fa-brands.fa-whatsapp {
  font-size: 68px;;
  padding-bottom: 0rem!important;
  margin-top: -5px;
}

.modal-body .row .col-md-3 .fa-brands.fa-instagram {
  padding: 8px;
  border-radius: 40px;
}

.modal-body .row .col-md-3 .popText {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding-top: 35px;
  color: white!important;
  font-weight: 500;
}

.modal-body .row .col-md-3 .follow {
  margin: 0 6.2rem 3rem;
  background-color: whitesmoke;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}

.modal-body .row .col-md-3 .follow:nth-child(){
  margin-bottom: 5rem;
}

.modal-body .row .col-md-3 .qrfCode{
  width: 35%;
  margin-left: 5.5rem;
}