html,
body {
  font-family: "Lemon", serif;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  background-image: url("../Images/Patterns/pattern6.png");
  background-position: 41% 25%;
  overflow-x: hidden;
}

body {
  background-color: black;
}

/* SCROLLBAR CUSTOMIZATION */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px;
}

/* SOCIAL MEDIA POP UP STARTS HERE */

#popUpStart .modal {
  background-color: #00000073;
  font-family: "Roboto Slab";
}

#popUpStart .modal-fullscreen {
  z-index: 5;
  margin-top: 5rem;
  position: fixed;
  padding: 7rem 17rem;
  background-color: #000000bd;
}

#popUpStart .modal-content {
  border: solid 10px #4b525a;
}

#popUpStart .modal-header {
  border-bottom: 0;
}

#popUpStart .modal-header button {
  background-color: transparent;
  border: none;
}

#popUpStart .modal-header button .fa-xmark {
  color: whitesmoke;
  font-size: 40px;
}

#popUpStart .modal-content {
  border-radius: 50px !important;
  background: rgb(0, 0, 0);
}

#popUpStart .modal-content .modal-title {
  padding-left: 8rem;
  font-weight: 600;
  color: whitesmoke !important;
  font-size: 35px;
}

#popUpStart .modal-content .modal-footer {
  border-top: 0;
}

#popUpStart .modal-body {
  padding: 0 0.7rem;
}

#popUpStart .modal-body .row .col-md-3 {
  border-bottom-left-radius: 35px;
  border-right: 3px solid #f58122ff;
}

#popUpStart .modal-body .row .col-md-3:nth-last-child(1) {
  border-right: 0;
}

#popUpStart .modal-body .row .col-md-3 a {
  border: none;
  margin: 0 2rem 1rem;
  border-radius: 45px;
  padding: 12px 12px;
}

#popUpStart .modal-body .row .col-md-3 a.facebook {
  margin-left: 5rem;
  margin-bottom: 0;
}

#popUpStart .modal-body .row .col-md-3 a.instagram {
  margin-left: 5rem;
  margin-top: -3px;
  margin-bottom: -10px;
}

#popUpStart .modal-body .row .col-md-3 a.whatsapp {
  margin-bottom: -12px;
  margin-left: 5rem;
  margin-top: 8px;
}

#popUpStart .modal-body .row .col-md-3 a.youtube {
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 5rem;
  padding: 7px;
}

#popUpStart .modal-body .row .col-md-3 .fa-brands {
  font-size: 60px;
}

#popUpStart .modal-body .row .col-md-3 .fa-brands.fa-whatsapp {
  font-size: 68px;
  padding-bottom: 0rem !important;
  margin-top: -5px;
}

#popUpStart .modal-body .row .col-md-3 .fa-brands.fa-instagram {
  padding: 8px;
  border-radius: 40px;
}

#popUpStart .modal-body .row .col-md-3 .popText {
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  padding-top: 20px;
  color: white !important;
  font-weight: 500;
}

#popUpStart .modal-body .row .col-md-3 .follow {
  margin: 2rem 5.4rem 2rem;
  background-color: whitesmoke;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

#popUpStart .modal-body .row .col-md-3 .follow:nth-child() {
  margin-bottom: 5rem;
}

#popUpStart .modal-body .row .col-md-3 .qrfCode {
  width: 42%;
  margin-left: 5rem;
}
/* SOCIAL MEDIA POP UP ENDS HERE */

/* NAVIGATION AREA STARTS HERE */
.scrolling-navbar {
  transition: top 0.3s ease-in-out;
}

.scrolling-navbar.hidden {
  top: -70px; /* Adjust the height of your navbar */
}

.navbar {
  background-color: black !important;
}

.navbar-nav.main {
  margin-left: 16rem !important;
}

.navbar-nav.right-end {
  margin-top: -14px !important;
}

.navbar .container-fluid .bi-list {
  color: whitesmoke;
  font-size: 30px;
}

.navbar-brand img {
  width: 200px;
}

.navbar .container-fluid .nav-item .nav-link {
  font-family: "Roboto Slab";
  font-weight: 800;
  color: lightgray;
  font-size: 14px !important;
}

.navbar .container-fluid .nav-item .nav-link:hover {
  font-size: 16px !important;
  text-decoration: overline #f58122ff 3px;
}

.navbar .container-fluid .nav-item .dropdown-menu {
  background-color: black;
}

.navbar .container-fluid .nav-item .dropdown-menu .dropdown-item {
  color: whitesmoke;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto Slab";
}

/* This will make the  */
.navbar .container-fluid .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #f58122ff;
}

/* This will make the nav-item with the dropdown menu be displayed when hovered in larger screens*/
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

/* This will make style the navbar when the display is above the set amount of pixels ( in this case large ) */
@media screen and (min-width: 750px) {
  .navbar-brand img {
    width: 235px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
  .navbar-nav .nav-item .nav-link:hover {
    text-decoration: overline #f58122ff 3px;
  }
}

/* Navbar toggler made transparent */
.navbar .container-fluid .navbar-toggler {
  border: none transparent;
  box-shadow: none;
}

.navbar-nav .nav-item .language {
  cursor: pointer;
}
@media screen and (max-width: 990.50px) {
  nav #navbarNav .main{
    margin-left: 1rem!important;
  }

  nav #navbarNav .right-end{
    margin-left: 1.6rem!important;
    margin-top: -3px!important;
  }
}
/* Navigation bar responsiveness */
@media screen and (1378px <= width <= 1470px){
  .navbar .container-fluid .nav-item .nav-link{
    font-size: 14px!important;
  }

  .navbar .container-fluid .navbar-brand.d-none.d-md-block{
    padding: 0 0.5rem!important;
  }

  .navbar .main{
    margin-left: 14rem!important;
  }
}

@media screen and (1298px <= width <= 1377px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.3rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 13.5px!important;
  }

  .navbar .container-fluid .navbar-brand.d-none.d-md-block{
    padding: 0 0.3rem!important;
  }

  .navbar .main{
    margin-left: 13.7rem!important;
  }
}

@media screen and (1256px <= width <= 1298px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.3rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 14px!important;
  }

  .navbar .container-fluid .nav-item .nav-link:hover{
    font-size: 15px!important;
  }

  .navbar .container-fluid .navbar-brand.d-none.d-lg-block{
    padding: 0 0.3rem!important;
  }
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block img{
    width: 200px!important;
  }

  .navbar .main{
    margin-left: 14rem!important;
  }
}

@media screen and (1212px <= width <= 1256px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.2rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 13px!important;
  }

  .navbar .container-fluid .nav-item .nav-link:hover{
    font-size: 14px!important;
  }

  .navbar .container-fluid .nav-item .dropdown-menu .dropdown-item{
    font-size: 13px!important;
  }
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block{
    padding: 0 0!important;
  }

  .navbar .container-fluid .navbar-brand.d-none.d-lg-block img{
    width: 200px!important;
  }
  .navbar .main{
    margin-left: 14rem!important;
  }
}

@media screen and (1160px <= width <= 1212px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.2rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 13px!important;
  }

  .navbar .container-fluid .nav-item .nav-link:hover{
    font-size: 14px!important;
  }
  
  .navbar .container-fluid .nav-item .dropdown-menu .dropdown-item{
    font-size: 13px!important;
  }

  .navbar .container-fluid .navbar-brand.d-none.d-lg-block{
    padding: 0 0!important;
  }
  
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block img{
    width: 200px!important;
  }

  .navbar .main{
    margin-left: 13rem!important;
  }

  .navbar .right-end #english{
    width: 27px!important;
    margin-top: 6px!important;
  }
}

@media screen and (1140px <= width <= 1160px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.2rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 13px!important;
  }

  .navbar .container-fluid .nav-item .nav-link:hover{
    font-size: 14px!important;
  }
  
  .navbar .container-fluid .nav-item .dropdown-menu .dropdown-item{
    font-size: 13px!important;
  }
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block{
    padding: 0 0!important;
  }
  
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block img{
    width: 190px!important;
  }

  .navbar .main{
    margin-left: 13rem!important;
  }

  .navbar .right-end{
    margin-top: -8px!important;
  }

  .navbar .right-end img{
    width: 32px!important;
  }

  .navbar .right-end  #english{
    width: 24px!important; 
    margin-top: 7px!important;
  }
}

@media screen and (1116px <= width <=1140px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.2rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 13px!important;
  }

  .navbar .container-fluid .nav-item .nav-link:hover{
    font-size: 14px!important;
  }
   
  .navbar .container-fluid .nav-item .dropdown-menu .dropdown-item{
    font-size: 13px
  }

  .navbar .container-fluid .navbar-brand.d-none.d-lg-block{
    padding: 0 0!important;
  }
  
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block img{
    width: 190px!important;
  }

  .navbar .main{
    margin-left: 11rem!important;
  }

  .navbar .right-end{
    margin-top: -8px!important;
  }

  .navbar .right-end img{
    width: 35px!important;
  }

  .navbar .right-end  #english{
    width: 22px!important; 
    margin-top: 8px!important;
  }
}

@media screen and (1101px <= width <=1116px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.2rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 12px!important;
  }

  .navbar .container-fluid .nav-item .nav-link:hover{
    font-size: 13px!important;
  }
  
  .navbar .container-fluid .nav-item .dropdown-menu .dropdown-item{
    font-size: 12px
  }

  .navbar .container-fluid .navbar-brand.d-none.d-lg-block{
    padding: 0 0!important;
  }
  
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block img{
    width: 170px!important;
  }

  .navbar .main{
    margin-left: 12.7rem!important;
  }

  .navbar .right-end{
    margin-top: -8px!important;
  }

  .navbar .right-end img{
    width: 35px!important;
  }
  
  .navbar .right-end  #english{
    width: 22px!important; 
    margin-top: 8px!important;
  }
}

@media screen and (1000px <= width <=1100px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.2rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 11px!important;
  }

  .navbar .container-fluid .nav-item .dropdown-menu .dropdown-item{
    font-size: 11px
  }

  .navbar .container-fluid .nav-item .nav-link:hover{
    font-size: 12px!important;
  }
  
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block{
    padding: 0 0!important;
  }
  
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block img{
    width: 160px!important;
  }

  .navbar .main{
    margin-left: 11rem!important;
  }

  .navbar .right-end{
    margin-top: -5px!important;
    margin-left: -15px;
  }

  .navbar .right-end img{
    width: 30px!important;
  }

  .navbar .right-end  #english{
    width: 22px!important; 
    margin-top: 6px!important;
  }
}


@media screen and (990px <= width <=1000px){
  .navbar .container-fluid .nav-item{
    padding: 0 0.2rem!important;
  }

  .navbar .container-fluid .nav-item .nav-link{
    font-size: 10px!important;
  }

  .navbar .container-fluid .nav-item .dropdown-menu .dropdown-item{
    font-size: 10px
  }

  .navbar .container-fluid .nav-item .nav-link:hover{
    font-size: 11px!important;
  }
  
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block{
    padding: 0 0!important;
  }
  
  .navbar .container-fluid .navbar-brand.d-none.d-lg-block img{
    width: 160px!important;
  }

  .navbar .main{
    margin-left: 11.7rem!important;
  }

  .navbar .right-end{
    margin-top: -6px!important;
    margin-left: -15px;
  }

  .navbar .right-end img{
    width: 30px!important;
  }

  .navbar .right-end  #english{
    width: 22px!important; 
    margin-top: 6px!important;
  }
}
/* NAVIGATION AREA ENDS HERE */

/* HERO SECTION STARTS HERE */
/*  In the next three blocks of code the height of the carousel inner is set to make the carousel-item fit 100% of the width and height so that the images can fit properly independtly of their sizes */

#hero .carousel .carousel-inner {
  height: 100.2vh;
}

@media screen and (max-width: 1150px) {
  #hero .carousel .carousel-inner {
    height: 58vh;
  }
}
@media screen and (max-width: 700px) {
  #hero .carousel .carousel-inner {
    height: 38vh;
  }
}

#hero .carousel-item {
  width: 100%;
  height: 100%;
}

#hero .carousel .carousel-inner .carousel-item img {
  filter: brightness(0.8);
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 5/3; /* this means that image as width five times more than the height*/
  object-fit: cover; /* This will make the images cover the full space of the previous height*/
  object-position: 0 50%;
}

#hero .carousel span {
  color: #f58122ff;
}
#hero .carousel-control-prev {
  margin-bottom: 22rem;
  margin-top: 22rem;
  background-color: black;
  border-radius: 100px;
  width: 33px;
  margin-left: 2rem;
  height: 80px;
  border: 4px solid #f58122ff;
}
#hero .carousel-control-next {
  margin-bottom: 22rem;
  margin-top: 22rem;
  background-color: black;
  border-radius: 100px;
  width: 33px;
  margin-right: 2rem;
  height: 80px;
  border: 4px solid #f58122ff;
}

/* Responsiveness part for the carousel buttons for medium screens */
@media screen and (1200px <= width <= 1252px) {
  #carouselHero{
    margin-top: 4rem;
    margin-bottom: -1.5rem;
  }

  #hero .carousel-control-next {
    margin-bottom: 0;
    margin-top: 20rem;
    margin-right: 15px;
  }
  #hero .carousel-control-prev {
    margin-bottom: 0;
    margin-top: 20rem;
    margin-left: 15px;
  }
}

@media screen and (1149px <= width <= 1220px) {
  #carouselHero{
    margin-bottom: -4.3rem;
  }
  
  #hero .carousel-control-next {
    margin-bottom: 0;
    margin-top: 19rem!important;
    margin-right: 15px;
  }
  #hero .carousel-control-prev {
    margin-bottom: 0;
    margin-top: 19rem!important;
    margin-left: 15px;
  }
}

@media screen and (1120px <= width <= 1200px) {
  #carouselHero{
    margin-top: 3.8rem;
  }

  #hero .carousel-control-next {
    margin-bottom: 0;
    margin-top: 10rem;
    margin-right: 15px;
  }
  #hero .carousel-control-prev {
    margin-bottom: 0;
    margin-top: 10rem;
    margin-left: 15px;
  }
}

@media screen and (970px <= width <= 1120px) {
  #carouselHero{
    margin-top: 3.5rem;
  }

  #hero .carousel-control-next {
    margin-bottom: 0;
    margin-top: 11rem!important;
    margin-right: 15px;
  }
  #hero .carousel-control-prev {
    margin-bottom: 0;
    margin-top: 11rem!important;
    margin-left: 15px;
  }

  #hero .carousel-caption{
    top: 30%!important;
  }
}

@media screen and (890px <= width <= 970px) {
  #carouselHero{
    margin-top: 3.7rem;
  }

  #hero .carousel-control-next {
    margin-bottom: 0;
    margin-top: 11rem!important;
    margin-right: 15px;
  }
  #hero .carousel-control-prev {
    margin-bottom: 0;
    margin-top: 11rem!important;
    margin-left: 15px;
  }

  #hero .carousel-caption{
    top: 35%!important;
  }
  #hero .carousel-caption h1{
    font-size: 30px;
  }
  #hero .carousel-caption h4{
    font-size: 15px;
  }
}

@media screen and (700px <= width <= 889px) {
  #carouselHero{
    margin-top: 3.7rem;
  }

  #hero .carousel-control-next {
    margin-bottom: 0;
    margin-top: 10rem!important;
    margin-right: 15px;
  }
  #hero .carousel-control-prev {
    margin-bottom: 0;
    margin-top: 10rem!important;
    margin-left: 15px;
  }

  #hero .carousel-caption{
    top: 38%!important;
  }
  #hero .carousel-caption h1{
    font-size: 25px;
  }
  #hero .carousel-caption h4{
    font-size: 15px;
  }
}

@media screen and (576px <= width <= 699px) {
  #carouselHero{
    margin-top: 4.4rem;
  }

  #hero .carousel-control-next {
    margin-bottom: 0;
    margin-top: 6rem!important;
    margin-right: 15px;
  }
  #hero .carousel-control-prev {
    margin-bottom: 0;
    margin-top: 6rem!important;
    margin-left: 15px;
  }

  #hero .carousel-caption{
    top: 28%!important;
  }
  #hero .carousel-caption h1{
    font-size: 20px;
  }
  #hero .carousel-caption h4{
    font-size: 15px;
  }
}


/* For smaller screens  */
@media screen and (320px <= width <= 450px){
  #carouselHero{
    margin-top: 4rem;
    margin-bottom: -4.5rem;
  }
  #hero .carousel-control-next {
    margin-bottom: 0;
    margin-top: 5rem!important;
    margin-right: 15px;
  }
  #hero .carousel-control-prev {
    margin-bottom: 0;
    margin-top: 5rem!important;
    margin-left: 15px;
  }

  #hero .carousel-caption{
    top: 30%!important;
  }
  #hero .carousel-caption h1{
    font-size: 15px;
  }
  #hero .carousel-caption h4{
    font-size: 13px;
  }
}
/* HERO SECTION ENDS HERE */

/* OUR CLASSES SECTION */

#categories .col {
  width: 40%;
  left: 7rem;
  position: relative;
}

#categories .heading h1 {
  font-size: 25px;
  border: solid 0px;
  background-color: #f58122ff;
  border-radius: 25px;
  margin: 0 30rem;
}

#categories .heading {
  margin-right: 4rem;
}

#categories .modal #trainerModalLabel {
  padding-left: 27rem;
}

#categories .modal #nutriModalLabel {
  padding-left: 30rem;
}

#categories .modal #fisioModalLabel {
  padding-left: 30rem;
}

#categories .modal #fisicaModalLabel {
  padding-left: 29rem;
}

@media screen and (1200px <= width <= 1400px)  {
  #categories .heading{
    margin-left: -2rem;
  }

  #categories .heading h1{
    margin: 0 25rem!important;
  }

  #categories .row.row-cols-1.row-cols-lg-2.g-3{
    margin: -115px;
    padding-top: 90px;
    padding-bottom: 65px;
  } 
}

@media screen and (1000px <= width <= 1200px)  {
  #categories .heading{
    margin: 0;
  }

  #categories .heading h1{
    margin: 0 18rem!important;
  }

  #categories .row.row-cols-1.row-cols-lg-2.g-3{
    margin: 0 -160px;
    margin-right: -250px;
  }
}

@media screen and (900px <= width <= 1000px){
  #categories .row.row-cols-1.row-cols-lg-2.g-3{
    margin: -168px;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  #categories .heading{
    margin: 0;
  }

  #categories .heading h1{
    margin: 0 12rem;
  }

  #categories .modal  .modal-dialog .modal-title{
    font-size: 28px;
    margin: 0 auto;
  }

  #categories #crossfitModalLabel{
    padding-left: 21rem!important;
  }

  #categories #fatburnModalLabel{
    padding-left: 22rem!important;
  }

  #categories #eliteModalLabel{
    padding-left: 20rem!important;
  }

  #categories #spinModalLabel{
    padding-left: 23rem!important;
  }

  #categories #runModalLabel{
    padding-left: 25rem!important;
  }

  #categories #stepModalLabel{
    padding-left: 23rem!important;
  }

  #categories #glutesModalLabel{
    padding-left: 22rem!important;
  }

  #categories #coreModalLabel{
    padding-left: 25rem!important;
  }

  #categories #tabataModalLabel{
    padding-left: 22rem!important;
  }

  #categories #flowModalLabel{
    padding-left: 25rem!important;
  }

  #categories #zumbaModalLabel{
    padding-left: 23rem!important;
  }
  #categories #bodyModalLabel{
    padding-left: 21rem!important;
  }
      
  #categories .modal #trainerModalLabel {
    padding-left: 18rem !important;
  }

  #categories .modal #nutriModalLabel {
    padding-left: 20rem !important;
  }

  #categories .modal #fisioModalLabel {
    padding-left: 21rem !important;
  }

  #categories .modal #fisicaModalLabel {
    padding-left: 21rem !important;
  }

  #categories .modal .modal-dialog .modal-content{
    width: 900px;
    margin: 0 -12rem;
  }

  #categories .modal .modal-dialog .modal-content h4{
    font-size: 16px;
  } 

  #categories .modal .modal-dialog .modal-content h5{
    font-size: 15px;
  }

  #categories .modal .modal-dialog .modal-content p{
    font-size: 11px;
  }

  #categories .modal .modal-dialog .modal-content li{
    font-size: 11px;
  }
  
}

@media screen and (800px <= width <= 900px){
  #categories .row.row-cols-1.row-cols-lg-2.g-3{
    margin: -128px;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  #categories .heading{
    margin: 0;
  }

  #categories .heading h1{
    margin: 0 12rem;
  }

  #categories .modal  .modal-dialog .modal-title{
    font-size: 28px;
    margin: 0 auto;
  }

  #categories .modal .modal-dialog .modal-content{
    width: 900px;
    margin: 0 -9rem;
  }

  #categories .modal .modal-dialog .modal-content h4{
    font-size: 16px;
  } 

  #categories .modal .modal-dialog .modal-content h5{
    font-size: 15px;
  }

  #categories .modal .modal-dialog .modal-content p{
    font-size: 11px;
  }

  #categories .modal .modal-dialog .modal-content li{
    font-size: 10px;
  }
  
  #categories #eliteModalLabel{
    padding-left: 15rem!important;
  }

  #categories #spinModalLabel{
    padding-left: 21rem!important;
  }

  #categories #stepModalLabel{
    padding-left: 21rem!important;
  }

  #categories #zumbaModalLabel{
    padding-left: 21rem!important;
  }

  #categories #runModalLabel{
    padding-left: 22rem!important;
  }

  #categories #coreModalLabel{
    padding-left: 22rem!important;
  }

  #categories #aeroModalLabel{
    padding-left: 20rem!important;
  }

  #categories #tabataModalLabel{
    padding-left: 21rem!important;
  }

  #categories #flowModalLabel{
    padding-left: 22rem!important;
  }

  #categories #bodyModalLabel{
    padding-left: 18rem!important;
  }

  #categories #trainerModalLabel{
    padding-left: 15rem!important;
  }

  #categories #nutriModalLabel{
    padding-left: 17rem!important;
  }

  #categories #fisioModalLabel{
    padding-left: 19rem!important;
  }

  #categories #fisicaModalLabel{
    padding-left: 17rem!important;
  }

  #categories .col .carousel-inner .card .card-img-overlay h5{
    font-size: 25px;
  }
  #categories .col .carousel-inner .card .card-img-overlay p{
    font-size: 12px!important;
  }
}

@media screen and (770px <= width <= 800px){
  #categories .row.row-cols-1.row-cols-lg-2.g-3{
    margin: -100px;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  #categories .heading{
    margin: 0;
  }

  #categories .heading h1{
    margin: 0 10rem;
  }
  
  #categories .col .carousel-inner .card .card-img-overlay h5{
    font-size: 21px;
  }
  #categories .col .carousel-inner .card .card-img-overlay p{
    font-size: 12px!important;
  }

  #categories .modal .modal-dialog .modal-content{
    width: 700px;
    margin: 0 -7rem;
  }

  #categories .modal .modal-dialog .modal-content h4{
    font-size: 16px;
  } 

  #categories .modal .modal-dialog .modal-content h5{
    font-size: 15px;
  }

  #categories .modal .modal-dialog .modal-content p{
    font-size: 11px;
  }

  #categories .modal .modal-dialog .modal-content li{
    font-size: 10px;
  }

  #categories #crossfitModalLabel{
    padding-left: 15rem!important;
  }

  #categories #fatburnModalLabel{
    padding-left: 17rem!important;
  }

  #categories #eliteModalLabel{
    padding-left: 12rem!important;
  }

  #categories #spinModalLabel{
    padding-left: 18rem!important;
  }

  #categories #stepModalLabel{
    padding-left: 19rem!important;
  }

  #categories #zumbaModalLabel{
    padding-left: 19rem!important;
  }

  #categories #glutesModalLabel{
    padding-left: 17rem!important;
  }

  #categories #runModalLabel{
    padding-left: 19rem!important;
  }

  #categories #coreModalLabel{
    padding-left: 19rem!important;
  }

  #categories #aeroModalLabel{
    padding-left: 18rem!important;
  }

  #categories #flowModalLabel{
    padding-left: 19rem!important;
  }

  #categories #tabataModalLabel{
    padding-left: 19rem!important;
  }

  #categories #bodyModalLabel{
    padding-left: 13rem!important;
  }

  #categories #trainerModalLabel{
    padding-left: 13rem!important;
  }

  #categories #fisicaModalLabel{
    padding-left: 12rem!important;
  }

  #categories #fisioModalLabel{
    padding-left: 13rem!important;
  }

  #categories #nutriModalLabel{
    padding-left: 13rem!important;
  }
}

@media screen and (625px <= width <= 700px){
  #categories .row.row-cols-1.row-cols-lg-2.g-3{
    margin: -150px;
    padding-top: 9rem;
    padding-bottom: 8rem;
    padding-right: 5rem;
  }

  #categories .heading{
    margin: 0;
  }

  #categories .heading h1{
    margin: 0 8rem;
  }
  
  #categories #crossfitModalLabel{
    padding-left: 8rem!important;
  }

  #categories #fatburnModalLabel{
    padding-left: 10rem!important;
  }

  #categories #eliteModalLabel{
    padding-left: 4rem!important;
  }

  #categories #spinModalLabel{
    padding-left: 12rem!important;
  }

  #categories #stepModalLabel{
    padding-left: 12rem!important;
  }

  #categories #zumbaModalLabel{
    padding-left: 11rem!important;
  }

  #categories #glutesModalLabel{
    padding-left: 8rem!important;
  }

  #categories #runModalLabel{
    padding-left: 12rem!important;
  }

  #categories #coreModalLabel{
    padding-left: 13rem!important;
  }

  #categories #aeroModalLabel{
    padding-left: 10rem!important;
  }

  #categories #flowModalLabel{
    padding-left: 12rem!important;
  }

  #categories #tabataModalLabel{
    padding-left: 12rem!important;
  }

  #categories #bodyModalLabel{
    padding-left: 8rem!important;
    font-size: 28px;
  }

  #categories #trainerModalLabel{
    padding-left: 7rem!important;
    font-size: 28px;
  }

  #categories #fisicaModalLabel{
    padding-left: 8rem!important;
    font-size: 25px;
  }

  #categories #fisioModalLabel{
    padding-left: 8rem!important;
  }

  #categories #nutriModalLabel{
    padding-left: 6rem!important;
  }
  
  #categories #basketModalLabel{
    padding-left: 7rem!important;
  }
  
  #categories #futsalModalLabel{
    padding-left: 12rem!important;
  }

  #categories #pulaModalLabel{
    padding-left: 9rem!important;
  }

  #categories #golfModalLabel{
    padding-left: 9rem!important;
  }

  #categories #crossModalLabel{
    padding-left: 9rem!important;
  }

  #categories #taekModalLabel{
    padding-left: 7rem!important;
  }

  #categories .col .carousel-inner .card .card-img-overlay h5{
    font-size: 21px;
  }
  #categories .col .carousel-inner .card .card-img-overlay p{
    font-size: 12px!important;
  }
}

@media screen and (420px <= width <= 625px){
  #categories .row.row-cols-1.row-cols-lg-2.g-3{
    margin: -110px;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-right: 8rem;
  }

  #categories .heading{
    margin: 0;
  }

  #categories .heading h1{
    margin: 0 5rem;
  }
  
  #categories .modal .modal-header h3{
    padding-left: 0!important;
    font-size: 22px!important;
  }

  #categories .col .carousel-inner .card .card-img-overlay h5{
    font-size: 21px;
  }

  #categories .col .carousel-inner .card .card-img-overlay p{
    font-size: 12px!important;
  }
} 

@media screen and (318px <= width <= 429px){
  #categories .row.row-cols-1.row-cols-lg-2.g-3{
    margin: -102px;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-right: 14rem;
  }

  #categories .heading{
    margin: 0;
  }

  #categories .heading h1{
    margin: 0 1rem;
    margin-top: 3rem;
  }

  #categories .col{
    width: auto;
    height: auto;
  }

  #categories .modal .modal-header h3{
    padding-left: 0!important;
    font-size: 22px!important;
  }
}

#categories {
  background-image: url(../Images/Images/background3.jpg);
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
}

#categories .col .carousel-inner h2 {
  z-index: 1;
  position: absolute;
  left: 25px;
  font-size: 20px;
  padding-top: 20px;
}

#categories .col .carousel-item .card {
  padding-top: 0rem;
  height: 330px;
}

#categories .col .carousel-item .card img {
  height: 100%;
  object-fit: cover;
}

#categories .carousel-item .card-button {
  background-color: transparent;
  border: transparent;
}

#categories .carousel-item .card .card-title {
  font-size: 30px;
  padding-top: 7rem;
  font-weight: 600;
}

#categories .carousel-section .carousel-item {
  border-radius: 28px;
}

#categories .carousel-section .card-img-overlay {
  border-radius: 30px;
}

#categories .carousel-item .card {
  border-radius: 28px;
  border: none;
}

#categories .carousel-item .card img {
  filter: brightness(0.7);
  border-radius: 28px;
}

#categories .carousel-control-next {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#categories .carousel-control-prev {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#categories .carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 25px;
}

#categories .modal .modal-content {
  background-color: black;
  border: #000000 4px solid;
}

#categories .modal .modal-header {
  border-bottom: solid 5px #f58122ff;
}

#categories .modal .modal-header a:link {
  color: transparent;
}

#categories .modal .modal-header a:visited {
  color: transparent;
}

#categories .modal .modal-header a:hover {
  color: #f58122ff;
}

#categories .modal .modal-header a:active {
  color: transparent;
}

#categories .modal .modal-header h3 {
  padding-left: 30rem;
  color: white;
  font-weight: 600;
  font-size: 35px;
}

#categories .modal .modal-body {
  padding: 0;
  background-color: #2f2e2e;
}

#categories .modal .container-fluid {
  padding-left: 12px;
}
#categories .modal .col-md-8.col-lg-7 img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#categories .modal .col-md-4 {
  color: whitesmoke;
}

#categories .modal .col-md-4 h4 {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  color: #f58122ff;
  font-weight: 600;
}

#categories .modal .col-md-4 h5 {
  text-align: center;
  color: #f58122ff;
  font-size: 20px;
  font-weight: 600;
}

#categories .modal .col-md-4 p {
  text-align: justify;
  font-size: 13px;
}

#categories .modal .col-md-4 ol {
  text-align: left;
  list-style: inside;
  list-style-type: decimal;
  margin-left: -28px;
  font-size: 13.4px;
}

#categories .modal .col-md-4 li::marker {
  color: #f58122ff;
}

#categories .col-md-6 .clickBox {
  color: whitesmoke;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

#categories .modal #eliteModalLabel{
  padding-left: 27rem;
}

#categories .modal #spinModalLabel{
  padding-left: 32rem;
}

#categories .modal #stepModalLabel{
  padding-left: 32rem;
}

#categories .modal #runModalLabel{
  padding-left: 32rem;
}

#categories .modal #coreModalLabel{
  padding-left: 32rem;
}

#categories .modal #flowModalLabel{
  padding-left: 32rem;
}

#categories .modal #tabataModalLabel{
  padding-left: 33rem;
}

#categories .modal #zumbaModalLabel{
  padding-left: 33rem;
}

#categories .modal #runModalLabel{
  padding-left: 33rem;
}

#categories .modal #bodyModalLabel{
  padding-left: 28rem;
}

/* Modal boxes responsiveness */

@media screen and (max-width: 1200px) {
  #categories .modal .modal-header h3 {
    padding-left: 19rem;
  }
}

/* PROMOTIONS SECTION STARTS HERE */
#promotions .container-fluid{
  height: 105vh;
  background-color: whitesmoke;
  font-size: "Roboto Slab";
}

#promotions .container-fluid .row{
  height: 100%;
  filter:contrast(1.2)
}

#promotions .container-fluid .card{
  height: 100%;
  width: 100%;
  filter: saturate(1.80);
}

#promotions .container-fluid .card img.card-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.7)
}

#promotions .container-fluid .card-img-overlay{
  backdrop-filter: grayscale(1.8);
  margin: 0;
  padding-top: 6rem;
}


#promotions .container-fluid .row .card-title{
  font-size: 80px;
  padding-left: 18%;
}

#promotions .container-fluid .row .card-img-overlay .pay {
  padding-left: 57%;
  font-size: 75px;
  color: #f58122ff;
}

#promotions .container-fluid .row .card-img-overlay .three{
  color: #f58122ff;
  padding-left: 71%;
  font-size: 100px;
  margin-top: -50px;
}

#promotions .container-fluid .row .card-img-overlay .months {
  color: #f58122ff;
  font-size: 65px;
  margin-left: 67rem;
  margin-top: -2rem;
  width: 16%;
}

#promotions .container-fluid .row .card-img-overlay .win {
  color: #1ea9d8;
  padding-left: 24%;
  font-size: 120px;
  margin-top: -11rem;
}

#promotions .container-fluid .row .card-img-overlay .plus{
  color: #ffffff;
  padding-left: 24%;
  font-size: 200px;
  margin-top: -8rem;
}

#promotions .container-fluid .row .card-img-overlay .one{
  color: #ffffff;
  padding-left: 32%;
  font-size: 290px;
  margin-top: -24rem;
}

#promotions .container-fluid .row .card-img-overlay .month{
  color: #ffffff;
  padding-left: 42%;
  font-size: 80px;
  margin-top: -19rem;
}

#promotions .container-fluid .row .card-img-overlay .free{
  color: #ffffff;
  padding-left: 55%;
  font-size: 85px;
  margin-top: -9rem;
}
/* 

#promotions .container-fluid .text .pay{
  font-size: 60px;
  padding-left: 16rem;
  color: #f58122ff;
}

#promotions .container-fluid .text .three{
  font-size: 100px;
  padding-left: 28rem;
  position: relative;
  bottom: 3rem;
  color: #f58122ff;
}

#promotions .container-fluid .text .months{
  font-size: 100px;
  padding-left: 28rem;
  position: relative;
  bottom: 6rem;
  color: #f58122ff;
}

#promotions .container-fluid .text .win{
  font-size: 70px;
  padding-left: 35rem;
  position: relative;
  bottom: 10rem;
  color: #1ea9d8;
}

#promotions .container-fluid .text .plus{
  font-size: 100px;
  padding-left: 53rem;
  position: relative;
  bottom: 19rem;
  color: #1ea9d8;
}

#promotions .container-fluid .text .one{
  font-size: 150px;
  padding-left: 59rem;
  position: relative;
  bottom: 30rem;
  color: #1ea9d8;
}

#promotions .container-fluid .text .month{
  font-size: 65px;
  padding-left: 65rem;
  position: relative;
  bottom: 40rem;
  color: #1ea9d8;
}

#promotions .container-fluid .text .free{
  font-size: 65px;
  padding-left: 75rem;
  position: relative;
  bottom: 43rem;
  color: #1ea9d8;
} */
/* PROMOTION SECTION STARTS HERE */

/* FOOTER STARTS HERE  */
#footer footer {
  background-color: #000000 !important;
}

#footer .container-fluid {
  padding: 0;
}
#footer .container-fluid .fa-brands {
  font-size: 21px;
}

#footer .container-fluid .fa-instagram {
  border-radius: 6px;
  color: whitesmoke;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -3px;
  margin-left: -4px;
}

#footer .container-fluid a {
  border-color: transparent;
  border-radius: 30px;
  height: 35px;
  width: 45px;
}

#footer .container-fluid a img {
  width: 33px;
  margin-left: -5px;
  margin-top: -4px;
}

.bar {
  background-color: #f58122ff;
  height: 0.5px;
  display: flex;
  margin: -3px 14rem 4px;
}

.bar-2 {
  background-color: #f58122ff;
  height: 0.5px;
  display: flex;
  margin: -5px 14rem 4px;
}

.bar-3 {
  background-color: #f58122ff;
  height: 0.5px;
  display: flex;
  margin: -5px 14rem 4px;
}

#footer .container-fluid .row .col-lg-4 a {
  text-decoration: none;
  line-height: 30px;
}

#footer .container-fluid .row .col-lg-4 a:hover {
  padding-left: 25px;
  color: #f58122ff !important;
  text-decoration: underline #f58122ff 15%;
  font-size: 19px;
}

#footer .container-fluid .row .col-lg-4 {
  border-left: solid #f58122ff 1px;
}

#footer .container-fluid .row .col-lg-4 {
  border-left: solid #f58122ff 1px;
}

#footer .container-fluid .row .col-lg-4 .contacts {
  line-height: 50px;
}
